<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <mat-card-content>
          <p>
            Bem-vindo ao <strong>Alugue Aqui</strong>, sua plataforma confiável para encontrar a casa perfeita para alugar! 
            Se você está procurando um novo lar, temos uma ampla seleção de propriedades para todos os gostos e orçamentos.
          </p>
          <p>Por que escolher a <strong>Alugue Aqui?</strong></p>
          <ul>
            <li><strong>Variedade de Opções:</strong> Explore uma grande variedade de casas em diferentes bairros e faixas de preço.</li>
            <li><strong>Fotos e Descrições Detalhadas:</strong> Veja fotos de alta qualidade e leia descrições completas para cada imóvel.</li>
            <li><strong>Filtros Personalizados:</strong> Encontre exatamente o que você está procurando com nossos filtros fáceis de usar.</li>
            <li><strong>Apoio ao Cliente:</strong> Nossa equipe está pronta para ajudar com qualquer dúvida e garantir uma experiência tranquila.</li>
          </ul>
        </mat-card-content>
      </mat-card>
</div>