.container {
    height: 100%;
    background: var(--corBackgroundPrincipais);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 30rem;
    height: 31rem;
    margin: auto;
    background-color: rgb(235, 235, 235);
    padding: 4rem 1rem;
    border-radius: 1rem;
}

h1{
    width: 100%;
    text-align: center;
}

img {
    height: 15rem;
    width: 100%;
    margin: 1.5rem auto 1.5rem auto;
}

.full-width{
    width: 100%;
}

button {
    margin-top: 0.5rem;
}


/* Media query para telas muito pequenas */
@media (max-width: 480px) {
    .container {
        height: 100%; /* Ajusta ainda mais o padding para telas muito pequenas */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form{
        width: 17rem;
        height: 28rem;
    }
    img {
        height: 10rem;
        width: 90%;
    }
}