<div class="container">
    <form class="form mat-elevation-z8">

        <h1>Sistema administrativo - Alugue Aqui</h1>
        <img src="assets/img/login-image.svg" alt="Sistema administrativo - Alugue Aqui">
        <mat-form-field class="full-width">
          <mat-label>E-mail:</mat-label>
          <input [formControl]="email" required [(ngModel)]="creds.username" name="email" matInput placeholder="Ex. fulano@gmail.com">
        </mat-form-field>
      
        <mat-form-field class="full-width">
            <mat-label>Senha:</mat-label>
            <input [formControl]="senha" required [(ngModel)]="creds.password" name="senha" type="password" matInput placeholder="Ex. 123">
        </mat-form-field>

        <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Login</button>
    </form>
</div>
<mat-spinner *ngIf="isLoading" class="loading-spinner"></mat-spinner>