.container {
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center; 
    width: 100%; 
    box-sizing: border-box; /* Garante que o padding não extrapole a largura do h1, bom para deixar responsivo */
    padding: 3rem 35%;
    background: linear-gradient(360deg, #6C63FF 0%, #9C90FF 0%, #3F3D9D 100%);

    font-family: 'Playfair Display', serif; 
    color: #fff; 
    letter-spacing: 0.05em; /* espaçamento entre as letras*/
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.9); /*sombreamento*/
}

@media (max-width: 768px) {
    h1 {
        padding: 2rem 5%; /* Reduz o padding em telas menores */
    }
}

/* Media query para telas muito pequenas */
@media (max-width: 480px) {
    h1 {
        padding: 1.5rem 2%; /* Ajusta ainda mais o padding para telas muito pequenas */
    }
}